<div class="container">
  <h2>Social Media</h2>
  Please enter your social media handles below

  <table>
    <tr><td>Facebook:</td><td><input ng-model="vm.social.facebook" /></td></tr>
    <tr><td>Twitter:</td><td><input ng-model="vm.social.twitter" /></td></tr>
    <tr><td>Instagram:</td><td><input ng-model="vm.social.instagram" /></td></tr>
    <tr><td>Snapchat:</td><td><input ng-model="vm.social.snapchat" /></td></tr>
    <tr><td>Youtube:</td><td><input ng-model="vm.social.youtube" /></td></tr>
  </table>

  <div class="form-group text-center">
      <span>
      <a ui-sref="form.sports" class="btn"> Sports <span class="glyphicon glyphicon-arrow-left"></span></a>
        </span>
    &nbsp;&nbsp;
    <span>
      <a ui-sref="form.summary" class="btn"> Summary <span class="glyphicon glyphicon-arrow-right"></span></a>
        </span>
  </div>

</div>
